page-login {
ion-content{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#12093d+0,130b57+50,11094f+51,180f79+100 */
background: #12093d; /* Old browsers */
background: -moz-linear-gradient(45deg, #12093d 0%, #130b57 50%, #11094f 51%, #180f79 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #12093d 0%,#130b57 50%,#11094f 51%,#180f79 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #12093d 0%,#130b57 50%,#11094f 51%,#180f79 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12093d', endColorstr='#180f79',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
h3{
  color: white;
  text-align: center;
}
.top-20
{
  margin-top: 20%;
}
.top-5
{
  margin-top: 5%;
}
}
