page-rubros {
  ion-slide{
    border:1px solid black;

  }
  .bestProd{
    border:1px solid black;
    height: 160px;
    width: 100%;
    overflow: auto;
  }
  .btnAddBest
  {
    margin-left: 80%;
    margin-top: 10%;
  }
}
